
   body{
    font-size:1em;
    font-weight:normal;
    font-famil:Arial,Sans-serif
    color#FFFFFF;/*white*/
    text-align:left;
    }
    h1{
    font-size:1.8em;
    font-weight:bold;
    color:0000ff;/*blue*/
    text-align:center;
    }
    h2 { 
	font-size: 1.4em;
	color: #CCCCCC;
}
div { 
	border: 1px solid black;
	padding: 1em;
	margin: 1em;
	background-color: #4312AE;
}
p { 
	font-style: italic;
	background-color: #7446D7;
	margin: 1em;
	padding: 1em;
}
a { 
	color: #FFFFFF;
}
