<style>
   
   body{
    font-size:1em;
    font-weight:normal;
    font-famil:Arial,Sans-serif
    color#000000;/*black*/
    text-align:left;
    }
    h1{
    font-size:1.8em;
    font-weight:bold;
    color:0000ff;/*blue*/
    text-align:center;
    }
   
  </style>
