 /*an * tag  addresses all items in the document*/
html{background-color:white;
}
 body{ height 500px;
      width:500px;
      background-color:purple;
 *{
   color:red;
 }
  p{
    color:blue; 
   
  }
  div{
    border:solid 1px #F0f;
    width:50%;
    height 100px;
  }
