 /*an * tag  addresses all items in the document but notice how it gets over riden by the more specific targeted tag*/
 * {
   color:red;
 }
html{background-color:white;
}
 body{ height 500px;
      width:500px;
      background-color:purple;
}
  p{
   font-size:14px;
    color:blue; 
   
  }
  div{
    border:solid 1px #F0f;
    width:50%;
    height 100px;
  }
